.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  margin-top: 2%;
  height: 18rem;
}
.extra-card {
  width: 12rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}
