/* General heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 20px;
}

/* Container for the card layout */
.card-container {
  position: relative;
  display: flex;
  justify-content: center; /* Center the cards in the container */
  align-items: flex-start; /* Align cards at the start */
  width: 70%;
  height: 50vh;
  z-index: 2;
  margin: 0px 14%; /* Add margin for spacing */
}

/* Individual card styles */
.card-1 {
  width: 280px; /* Width of each card */
  height: 100%; /* Height of each card */
  position: relative;/* Margin around each card */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  text-align: center;
  transition: transform 0.3s; /* Add transition for scaling effect */
}

/* Content within the card */
.card-1 .content {
  padding: 20px;
  transition: 0.8s all ease;
  color: #ccc; /* Text color */
  transform: translateY(200px); /* Initial position */
  opacity: 0; /* Initially hidden */
}

/* Show content on hover */
.card-1:hover .content {
  transform: translateY(0px); /* Bring to view */
  opacity: 1; /* Make visible */
}

/* Card image styles */
.card-1 img {
  position: absolute;
  width: 100%; /* Full width */
  z-index: -1; /* Send to back */
}

/* Specific styles for h1 within cards */
.card-1 .content h2 {
  color: #000; /* Heading color */
  font-weight: 400;
}

/* Styles for the link/button in the card */


/* Button hover effect */


/* Responsive styles for smaller screens */
@media only screen and (max-width: 900px) {
  .card-container {
    flex-direction: column; /* Stack cards vertically on smaller screens */
    align-items: center; /* Center align */
  }
}

/* Ensure cards are on a single line */
@media only screen and (min-width: 901px) {
  .card-container {
    justify-content: space-between; /* Distribute space between cards */
  }
}
