* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #263642;
  background-color: #eff3f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hero-background {
  background: url("./assets/aaa.png") center/cover no-repeat;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}
